* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.google-fonts {
  font-family: "Anton", sans-serif;
  font-family: "Lobster", cursive;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.home-page {
  display: block;
}

canvas {
  margin: 0;
  box-sizing: border-box;
}

.games {
  display: "block";
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  font-family: "Anton", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotate(-25deg) skew(25deg);
  .memory {
    //margin-top: -170px;
    margin-left: 20px;
    &:hover {
      span {
        background-color: #ff7f66;
      }
      span:nth-child(5):before {
        background-color: #b35846;
      }
      span:nth-child(5):after {
        background-color: #b35846;
      }
    }
  }
  .tetris {
    margin-top: 20px;
    margin-left: 70px;
    &:hover {
      span {
        background-color: #4717f6;
      }
      span:nth-child(5):before {
        background-color: #251369;
      }
      span:nth-child(5):after {
        background-color: #251369;
      }
    }
  }
  .brick {
    margin-top: 400px;
    margin-left: -150px;
    &:hover {
      span {
        background-color: #a239ca;
      }
      span:nth-child(5):before {
        background-color: #6c2488;
      }
      span:nth-child(5):after {
        background-color: #6c2488;
      }
    }
  }
  a {
    position: relative;
    width: 150px;
    height: 100px;
    text-align: center;
    text-transform: capitalize;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span:nth-child(5) {
      color: whitesmoke;
      transform: translate(20px, -20px);
      background-color: #2185c8;
      box-shadow: -1px 1px 1px #2185c8;
    }
    span:nth-child(4) {
      transform: translate(15px, -15px);
      background-color: #7ecefd;
      box-shadow: -1px 1px 1px #7ecefd;
    }
    span:nth-child(3) {
      transform: translate(10px, -10px);
      background-color: #a239ca;
      box-shadow: -1px 1px 1px #a239ca;
    }
    span:nth-child(2) {
      transform: translate(5px, -5px);
      background-color: #ff7f66;
      box-shadow: -1px 1px 1px #ff7f66;
    }
    span:nth-child(1) {
      transform: translate(0px, 0px);
      background-color: #4717f6;
      box-shadow: -1px 1px 1px #4717f6;
    }
    &:hover,
    &:active {
      position: relative;
      transform: translate(20px, -20px);
      box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
      span {
        box-shadow: none;
      }
      span:nth-child(5):before {
        content: "";
        position: absolute;
        top: 12.5px;
        left: -25px;
        height: 100%;
        width: 25px;
        transform: rotate(0deg) skewY(-45deg);
      }
      span:nth-child(5):after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: -12.5px;
        width: 100%;
        height: 25px;
        transform: rotate(0deg) skewX(-45deg);
      }
    }
  }
  @media screen and (max-width: 900px) {
    margin-left: 5px;
    flex-direction: column;
    a {
      width: 150px;
      height: 100px;
    }
    .memory {
      margin-left: 5px;
      margin-top: 10px;
    }
    .tetris {
      margin-top: 50px;
      margin-left: 300px;
    }
    .brick {
      margin-top: -150px;
      margin-right: 200px;
    }
  }
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    flex-direction: column;
    a {
      width: 150px;
      height: 100px;
    }
    .memory {
      margin-left: 50px;
    }
    .tetris {
      margin-top: 50px;
      margin-left: -50px;
    }
    .brick {
      margin-top: 40px;
      margin-right: 100px;
    }
  }
}
